*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj


cmdline-tools.zip
error.txt
err.txt
kmp.zip
build_out.txt

guide.html
guide_files/
game.html
game_files/